* { outline-style: none; -moz-outline-style: none; -webkit-text-size-adjust: none; }
#fuel_logo { width: 200px; height: 200px; margin: 10px auto 20px auto; display: block; }
#nav { background: #000 url(http://www.getfuelcms.com/assets/images/bg_waves.jpg) no-repeat top center; margin: 0; padding: 0; } 
#nav h2 { color: #fff; }
#nav2 { position: relative; margin-bottom: 10px; padding-right: 0px; background: #000; min-height: 10px; }
#toc_toggle { display: block; position: absolute; bottom: -15px; right: 38px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4) background-color: #000;  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);  background: #000;text-align: center; color: #fff; padding: 5px 20px ; font-size: 11px; }
#nav_inner .td_sep { background: transparent; width: 25%; padding: 0 0 0 20px; border-left: 1px solid #316799; }
/*#content .td { background-color: transparent; padding: 0 20px 0 0;  }*/
#content .tableborder { width: 100%; }
#content .toc_table td { background-color: transparent !important; }
#content td { font-weight: normal; font-size: 12px; padding: 6px; background-color: #f3f3f3; }
#content td.hdr { background-color: #fafafa; }
#content td pre { background: transparent; border: none; padding: 0; margin: 0; }
.toc_table { width: 98%; margin: auto; }
.toc_table .td_sep { padding-right: 20px; background-color: transparent; }
.toc_table td { vertical-align: top;  }


.clear { clear: both; height: 0; line-height: 0; font-size: 0; }
.hidden { display: none; }

.success { background-color: #6ec461; background-repeat: no-repeat; padding: 2px 5px; color: #fff; }
.warning { background-color: #ff1; background-repeat: no-repeat; }
.error { background-color: #c30; background-repeat: no-repeat; padding: 2px 5px; color: #fff; }

.img_left { float: left; margin: 0 15px 15px 0; }
.img_right { float: right; margin: 0 0 15px 15px; }
div#content img.screen { display: block; border: 1px solid #ccc; margin: 3px 3px 35px 3px; padding: 3px; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }

/* syntax highlighter overwrides*/
div.syntaxhighlighter { background-color: #fcfcfc !important; border: 1px solid #ddd !important; padding: 5px !important; }
div.syntaxhighlighter code { display: inline !important; }
div.syntaxhighlighter .bar .toolbar { border-top: none !important; border-right: none !important; }
div.syntaxhighlighter .line.alt1 { background-color: #fcfcfc !important; }
div.syntaxhighlighter .line.alt2 { background-color: #fcfcfc !important; }

/* screenshot overlays */
div.screenshot { position: relative; }
div.overlay { position: absolute; z-index: 1; background-color: #ffc; font-size: 12px; padding: 5px; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }