ul#topnav li.hover { background: #fff url(../images/topnav_ovr.png) repeat-x top left; color: #f5561d; }
ul#topnav li.hover a { color: #fff; } /* to prevent slight bleed through */
ul#topnav li.hover ul { display: block; padding: 0; border-left: 2px solid #e6e6e6; border-right: 2px solid #e6e6e6; margin-bottom: 0; width: 100%; }
ul#topnav li.hover ul li { position: static; padding: 0; background: none; text-align: left; margin-left: -2px; margin-bottom: 0px; margin-top: 0px;font-size: 11px; width: auto; height: 12px; }
ul#topnav li.hover ul li:hover { border: none; }
ul#topnav li.hover ul li a { color: #808080; height: auto; padding: 2px 15px 2px 15px; background: none; line-height: 12px;}
ul#topnav li.hover ul li a:hover { color: #000; }
ul#topnav li.hover ul li.first { margin-left: -2px; padding-top: 5px; font-size: 13px;  }
ul#topnav li.hover ul li.first a:hover { color: #f5561d; }
ul#topnav li.hover ul li.last { border-bottom: 2px solid #e6e6e6; padding-bottom: 5px; margin-bottom: -3px;}
