/***************************************************************
RESET BROWSER VALUES SO EVERYONE IS THE SAME
***************************************************************/
@import url(reset.css);
@import url(common.css);


/***************************************************************
TAG STYLES
***************************************************************/
body { background: #444; font-family: Arial, 'Lucida Grande', sans-serif; color: #333; font-size: 12px; }
h1 { font-size: 30px; margin-bottom: 15px;  }
h2 { font-size: 20px; color: #666; margin-bottom: 5px; }
h3 { font-size: 16px; color: #f30; margin-bottom: 5px; font-weight: normal; }
h4 { font-size: 12px; margin-bottom: 5px; }
a { color: #f63; }
p { margin-bottom: 15px; line-height: 16px; }
blockquote { font-style: italic; margin-bottom: 20px; }
cite { display: block; font-size: 12px; color: #e95c18; margin-top: 10px; } 
input { padding: 2px; }
ul { margin: 0 0 20px 15px; }
li { list-style: disc; }
input, textarea { border: 1px solid #ccc; }
textarea { font-family: Arial, 'Lucida Grande', sans-serif; color: #333; font-size: 12px; }


/***************************************************************
GENERIC CLASSES 
***************************************************************/
.block { margin-bottom: 30px; }
a.readmore { display: block; }
table.form td { padding: 3px 5px 3px 0; }


/***************************************************************
MAIN AREAS
***************************************************************/
div#container { width: 960px; margin: auto; background-color: #fff;  border-bottom: 1px solid #666; border-left: 1px solid #666;  border-right: 1px solid #666;}
div#header { position: relative; height: 100px; }
a#logo { background: transparent url(../images/widgicorp_logo.png) no-repeat; display: block; position: absolute; top: 20px; left: 20px; width: 180px; height: 70px; text-indent: -1000px; overflow: hidden; }
div#main { padding: 20px;  }
div#main_inner {  width: 640px; }

ul#topmenu { position: absolute; right: 20px; top: 20px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
ul#topmenu li { display: block; float: left; position: relative; }
ul#topmenu li a { background-color: #f3f3f3; display: block; font-size: 14px; text-align: center; padding: 10px 20px; border-right: 1px solid #ccc; text-decoration: none;}
ul#topmenu li a:hover { background-color: #f6f6f6; color: #db5629; }
ul#topmenu li ul { display: none; margin: 0; position: absolute; left: -1px; font-size: 12px; border-left: 1px solid #ccc; border-top: 1px solid #ccc; }
ul#topmenu li:hover ul { display: block; }
ul#topmenu li ul li { border-bottom: 1px solid #ccc;}
ul#topmenu li ul li a { text-align: left; padding: 3px 20px; width: 100px; font-size: 12px;  }
ul#topmenu li.active a { background-color: #fcfcfc; }

div#right { background-color: #fcfcfc; float: right; width: 210px; border: 1px solid #ccc; padding: 20px; margin-left: 20px; }

ul#sidemenu { margin: 0 0 30px 0; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
ul#sidemenu li { display: block; list-style: none; border-bottom: 1px solid #ccc; }
ul#sidemenu li a { color: #666; background-color: #fdfdfd; display: block; padding: 5px 10px; text-decoration: none; }
ul#sidemenu li a:hover { background-color: #fff; }
ul#sidemenu li.active a { color: #f63; background-color: #fff; text-decoration: underline; }

div#blocks { }
div#footer { padding: 10px 25px; font-size: 10px; }


/***************************************************************
HOME
***************************************************************/
div#bigpic { }
div#home_cols { padding-top: 20px; }
div#home_news { width: 460px; float: left; }
div#home_about { width: 440px; float: left; }


/***************************************************************
WHAT THEY SAY
***************************************************************/
div#quotes blockquote { background-color: #fafafa; border: 1px solid #eee; padding: 10px; }


/***************************************************************
TEAM
***************************************************************/
div.member img { float: left; margin: 0 20px 20px 0; }
div.member div.member_bio { margin-left: 120px; }


/***************************************************************
SHOWCASE
***************************************************************/
div.project { margin-bottom: 30px; float: left; width: 320px; }
div.project img, div.project_detail img { float: left; margin-bottom: 20px; }
div.project_info {  width: 400px; }
div.project_info ul { margin-bottom: 10px; }
div.project div.project_info { margin-left: 120px; }
div.project_detail div.project_info { margin-left: 230px; }
