/***************************************************************
RESET BROWSER VALUES SO EVERYONE IS THE SAME
***************************************************************/
@import url(reset.css);
@import url(common.css);


/***************************************************************
TAG STYLES
***************************************************************/
body { background: #dc4812; font-family: Arial, 'Lucida Grande', sans-serif; color: #fff; }
h1 { font-size: 30px; }
h2 { font-size: 24px; color: #fff; margin-bottom: 15px; }
h3 { font-size: 16px; color: #ea5b17; margin-bottom: 5px; font-weight: normal; }
h4 { font-size: 12px; margin-bottom: 5px; }
a { color: #dc461c; }
p { margin-bottom: 15px; line-height: 16px; }
blockquote { font-style: italic; margin-bottom: 20px; }
cite { display: block; font-size: 12px; color: #e95c18; margin-top: 10px; } 
input { padding: 2px; }
ul { margin: 0 0 20px 15px; }
li { list-style: disc; }
input, textarea { border: 1px solid #ccc; }
textarea { font-family: Arial, 'Lucida Grande', sans-serif; color: #333; font-size: 12px; }


/***************************************************************
GENERIC CLASSES 
***************************************************************/
.left { float: left; }
.right { float: right; }
.block { margin-bottom: 30px; }
a.readmore { display: block; }
table.form td { padding: 3px 5px 3px 0; }


/***************************************************************
SPECIFIC AREAS
***************************************************************/
div#error_404 { margin: -100px 0 0 340px; }
div#container { background: #000 url(http://www.getfuelcms.com/assets/images/bg_waves.jpg) no-repeat top center;  }
div#container_inner { position: relative; width: 960px; margin: auto; }
div#header { width: 840px; height: 370px; margin: auto; position: relative; }

/* top nav*/
div#topnav { position: absolute; top: 10px; right: 0px; z-index: 10; }
div#topnav, div#topnav a { color: #5a7995; font-size: 12px; }
div#topnav li { float: left; display: block;  border-right: 1px solid #5a6e7f; }
div#topnav li a { display: block; margin: 0 10px; line-height: 12px; text-decoration: none; }
div#topnav li.last { border: none; }

/* logo */
a#daylight_logo { position: absolute; top: 20px; left: 0px; background: transparent url(http://www.getfuelcms.com/assets/images/logo_daylight.png) no-repeat center center; width: 166px; height: 30px; display: block; }
a#fuel_logo { display: block; text-indent: -10000px; overflow: hidden; position: absolute; top: 60px; left: 0px; background: transparent url(http://www.getfuelcms.com/assets/images/logo_fuel.png) no-repeat center center; height: 340px; width: 340px; }

div#fuel_intro { padding-top: 120px; margin-left: 360px; position: relative; }
div#fuel_intro h1#fuel_cms { background: transparent url(http://www.getfuelcms.com/assets/images/fuel_cms.png) no-repeat center center; width: 247px; height: 53px; text-indent: -10000px; overflow: hidden; margin-bottom: 10px;}
div#fuel_intro div#fuel_tagline {  background: transparent url(http://www.getfuelcms.com/assets/images/hdr_tagline.png) no-repeat center center; width: 338px; height: 46px; margin-bottom: 5px; }
div#fuel_intro div#fuel_text { font-size: 13px; margin-left: 30px; position: relative; }
div#fuel_intro div#fuel_text p { margin-bottom: 10px; } 

div#main { width: 724px; margin: auto; padding: 40px 30px 30px 30px; }
div#main h3 { color: #f93; font-weight: bold; font-size: 14px; margin-bottom: 0px; }
div#main li { background-repeat: no-repeat; padding-left: 44px; }

div#main_inner { width: 400px; float: right; }

div#features { padding-top: 120px; }
div#for_clients { width: 342px; float: left; padding-right: 20px; }
div#for_developers { width: 342px; float: left;  padding-left: 20px;}

/* footer */
div#footer { color: #fff;  background: transparent url(http://www.getfuelcms.com/assets/images/footer_bg.jpg) repeat-x; height: 117px; }
div#footer p, div#footer li, div#footer address { font-size: 11px; }
div#footer p, div#footer address { line-height: 11px; }
div#footer h4 { margin-bottom: 5px; }
div#footer a { color: #fff; }
div#footer_top { padding: 20px 50px 20px 50px; background: #ef9742 url(http://www.getfuelcms.com/assets/images/footer_bg.jpg) repeat-x; height: 110px; }
div#footer_top div#footer_follow {  width: 120px; }
div#footer_bot { padding: 10px 50px; background-color: #dc481d; height: 30px; }
div#request_demo_container { position: absolute; right: 85px; top: 30px; }
div#copyright { color: #f4ca95; text-align: center; width: 500px; margin: auto;}
