* { -moz-outline-style: none; }
.validate_iframe  { font-family: 'Lucida Grande', 'Gill Sans', Arial, Helvetica, Sans-serif; margin: 0; padding: 0; font-size: 11px; color: #333; }
.validate_iframe h1 { font-size: 18px;  margin-bottom: 10px; }
.validate_iframe h2 { font-size: 14px; margin-bottom: 10px; }
#fuel_main_content_inner h2 { font-size: 14px; margin: 10px 0; }
.validate_iframe h3 { font-size: 12px; margin: 15px 0 3px 0; }
.validate_iframe a { color: #0e3e7e; text-decoration: none; }
.validate_iframe a:hover { text-decoration: underline; }
.validate_iframe a:visited { color: #4679bd;}
.validate_iframe p { margin: 5px 0 15px 0; }
.validate_iframe ul { margin-bottom: 10px; }
.validate_iframe li { line-height: 20px; }

/* tag classes */
.success { background: #6ec461; }
.warning { background: #ff1; }
.error { background: #c30; color: #fff; }
span.error, span.success { color: #fff; padding: 2px 5px;}
span.warning { padding: 2px 5px; }
span.num { display: none; }
.clear { clear: both; height: 0; font-size: 0px; line-height: 0px; }

.ico_error {  background-image: url(../images/ico_cancel.png); }

h2#total { float: left; }
div#edit_url { display: none; }
div#summary_key { float: right; margin: 10px 10px 0 0; }
